body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #F7F8FA; */
}
.flex-container{
    display: flex;
}

.side-image{
    width:100vh;
}
.head_logo{
    width:9% ; 
}
.Workiy_footer{
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.Password-container{
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6B7A99; 
}

.form-control{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #6B7A99;
}

.Password-container-inside{
    width: 90%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.432);
    background-color: #ffc234 ;
}
.Password-container-inside h5{  
    margin-top: -20px;
}
.submit-container{
    text-align: center;
    border-radius: 73px;
    width: 30%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.432);
    background-color: #927fff;
    color: aliceblue;
}
.submit-container:hover{
    /* background-color: #6455b7; */
    background-color: #b1a7e6;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.600);
    color: aliceblue;   
}
@media (max-width:768px){
    .submit-container{
        width: 50%;
    }
}

@media (max-width:698px){
    .lock-image{
        width: 0px;
    }
    .side-image{
        width: 0px;
    }
    .submit-container{
        width: 50%;
    }
    .Password-container{
        display: flex;
        justify-content: center;
        /* margin: auto; */
        margin-top: 10%;
        margin-left: -6%;
    }
}